.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background: transparent;
  opacity: 100%;
}

.home-page-container {
  /* Add styles to ensure the Navbar stays at the top */
  /* background-image: url(./icon_lowOpacity.png); */
  background-repeat: repeat;
  min-height: 90vh;
}